.headerBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2vmin;
}

.optionsArea {
    display: flex;
    flex-direction: row;
    margin: 15px;
    padding: 10px 15px;
    align-items: center;
    background-color: none;
}

h4 {
    margin: 0;
}
